.shell {
  overflow: hidden;

  app-sidebar {
    display: contents;
  }

  &__overlay {
    border: 0;
    cursor: pointer;
    display: none;
    padding: 0;

    @media (max-width: 767px) {
      background-color: var(--ds-cor-overlay);
      display: block;
      inset: 0;
      position: fixed;
      z-index: 150;
    }
  }

  &__conteudo {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  &__main {
    flex: 1;
    overflow-y: auto;
    padding: var(--ds-espaco-6);
  }
}

@media (max-width: 767px) {
  .shell {
    &__main {
      padding: var(--ds-espaco-4);
    }
  }
}
